@page "/event"
@page "/event/{seId:int}"
@inject ISiteEventService SiteEventService
@inject NavigationManager NavigationManager

@if (seId == null && !seEvent.seActive)
{
    
    <BSContainer>
        <BSRow Align="Align.Center" Justify="Justify.Center">
            <BSCol Class="align-text-center" >
                <h1 class="text-primary"> No event found</h1>
            </BSCol>
        </BSRow >
        <BSRow Align="Align.Center">
            <BSCol>
                <BSButton Color="BSColor.Primary" OnClick=BackToEventList>Go Back To Event List</BSButton>
            </BSCol>
        </BSRow>
    </BSContainer>
}
else if (seId == null || !seEvent.seActive)
{
    <BSContainer>
        <BSRow Align="Align.Center" Justify="Justify.Center">
            <BSCol Class="align-text-center">
                <h1 class="text-primary"> No event found</h1>
            </BSCol>
        </BSRow>
        <BSRow Align="Align.Center">
            <BSCol>
                <BSButton Color="BSColor.Primary" OnClick=BackToEventList>Go Back To Event List</BSButton>
            </BSCol>
        </BSRow>
    </BSContainer>
}
else
{
    <BSContainer>
        <BSRow Align="Align.Center">
            <BSCol Class="align-text-center">
                <BSCard CardType="CardType.Card">
                    <BSCard class="card-header" CardType="CardType.Title">@seEvent.seTitle</BSCard>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                         <h6 class="card-subtitle text-muted">Description</h6>
                         @seEvent.seDescription
                    </li>
                    <li class="list-group-item">
                        <h6 class="card-subtitle text-muted">Location</h6>
                        @seEvent.seLocation
                    </li>
                    <li class="list-group-item">
                            <h6 class="card-subtitle text-muted">Start Date</h6>
                            @seEvent.seStartDate.ToString("MM/dd/yyyy")
                        </li>
                    <li class="list-group-item">
                            <h6 class="card-subtitle text-muted">End Date</h6>
                            @seEvent.seEndDate?.ToString("MM/dd/yyyy")
                        </li>
                    </ul>
                    <a class="btn btn-outline-secondary" href="@seEvent.seURL" target="_blank">Visit Event Website</a>
                    <BSButton Class="btn-outline-primary" OnClick=BackToEventList>Go Back To Event List</BSButton>
                </BSCard>
            </BSCol>
        </BSRow>
    </BSContainer>
    
}


@code {
    [Parameter]
    public int? seId { get; set; }


    SiteEvent seEvent = new SiteEvent { };

    protected override async Task OnParametersSetAsync()
    {
        if(seId != null)
        {
            seEvent = await SiteEventService.GetOneSiteEvent((int)seId);
            if (seEvent == null)
            {
                seEvent.seActive = false;
            }
        }
    }

    void BackToEventList()
    {
        NavigationManager.NavigateTo("/");
    }
}
